
.header_create{
    background-image: linear-gradient(to right,#A9A9A9,#D3D3D3);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    box-shadow: 2px 2px 2px gray;
    font-family: inglobal;
}
.offer_but{
    color:forestgreen;
    width: 250px;
    height: 2rem;
    font-weight: bold;
    font-family: inglobal;
    border-radius: 5px;
    border: 1px solid forestgreen;
    cursor: pointer;
}
.header_title>p{
    color: #696969;
    font-weight: bold;
}
.header_title>p>span:first-of-type{
    color: forestgreen;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
}
.header_title>p>span:last-of-type{
    color: #FF4500;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
}
.error_block{
    display:block;
    height: 2rem;
    background-color: #FFA07A;
    color: red;
    padding-left: 1rem;
}
.error_hidden{
    display:none;
}
