.admin_box{
    height: 2.5rem;
}

.content{
    display: flex;
    flex-flow: row nowrap;
}
.left{
    width: 65%;
}
.right{
    width: 35%;
}



.table_box{
    width: 100%;
}

.table{
    width:100%;
}