.butt_container{
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.button{
    width: 50px;
    height: 50px;
    margin-top: 1.5rem;
    border-radius: 3px;
    border-right: 2px solid darkslategrey;
    border-bottom: 2px solid darkslategrey;
    text-align: center;
    box-shadow: 1px 1px 3px 2px grey;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;

}
.button:hover{
    text-shadow: 1px 1px beige;

}
.button:active{
    box-shadow: 1px 1px 2px 2px darkslategrey;

}
a{
    text-decoration: none;
    color: #696969;
    width: 100%;
    height: 100%;
}
